<div class="mb-4 row">
  <div class="col-md-8">
    <input
      type="text"
      class="form-control"
      placeholder="Search files..."
      [(ngModel)]="searchQuery"
      (input)="onSearchChange()"
    />
  </div>

  <div class="col-md-4">
    <button class="btn btn-info w-100" (click)="toggleSortOrder()">
      Sort By: {{ sortOrder === "asc" ? "Ascending" : "Descending" }}
    </button>
  </div>
</div>

<div *ngIf="error" class="alert alert-danger" role="alert">
  {{ error }}
</div>

<div *ngIf="successMessage" class="alert alert-success" role="alert">
  {{ successMessage }}
</div>

<div *ngIf="downloadError" class="alert alert-danger" role="alert">
  {{ downloadError }}
</div>

<div *ngIf="loading" class="text-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="row">
  <div class="col-md-4" *ngFor="let file of files">
    <app-file-card
      [fileData]="file"
      (errorOccurred)="handleDownloadError($event)"
      (onShare)="handleShare($event)"
      (onDelete)="handleShareDelete($event)"
    ></app-file-card>
  </div>
</div>

<div class="d-flex justify-content-center mt-4">
  <nav>
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 0">
        <button class="page-link" (click)="goToPage(currentPage - 1)">
          Previous
        </button>
      </li>
      <li class="page-item" [class.disabled]="currentPage >= totalPages - 1">
        <button class="page-link" (click)="goToPage(currentPage + 1)">
          Next
        </button>
      </li>
    </ul>
  </nav>
</div>

<div
  class="modal fade"
  id="shareModal"
  tabindex="-1"
  aria-labelledby="shareModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareModalLabel">Share File</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="confirmShare()"
        ></button>
      </div>
      <div class="modal-body">
        <div *ngIf="errorForGroups" class="alert alert-danger" role="alert">
          {{ errorForGroups }}
        </div>
        <ul class="list-group">
          <li
            *ngFor="let group of groups"
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            {{ group.name }}
            <button
              class="btn btn-primary btn-sm"
              (click)="shareWithGroup(group)"
            >
              Share
            </button>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="confirmShare()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="deleteConfirmationModal"
  tabindex="-1"
  aria-labelledby="deleteConfirmationModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmationModalLabel">
          Confirm Delete
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="confirmShare()"
        ></button>
      </div>
      <div class="modal-body">Are you sure you want to delete this item?</div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="confirmShare()"
        >
          Cancel
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteFile()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
